body {
  font: 14px/18px 'PT Sans Caption', Arial, sans-serif;
  /* background: url(https://lata.net.ua/bitrix/templates/boxsol_business_green/img/bodybg/bg2.png) repeat left top; */
  background: #fff;
  font-family: 14px/18px 'PT Sans Caption', Arial, sans-serif;
  font-weight: 300;
  line-height: 1.6em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #656565;
  margin: 0 auto;
  max-width: 1230px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'PT Sans Caption', sans-serif;
  color: #353535;
  margin: 0;
  padding: 0;
  font-weight: 300;
  margin: 0 0 10px;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
li {
  list-style: none;
  text-decoration: none;
  color: inherit;
  line-height: 1.6em;
}

img {
  width: auto;
  margin: 0;
  padding: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

button {
  cursor: pointer;
  border: none;
}
